body {
    background-color: #47869d;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    margin: 0;
  }
  
  h1 {
    text-align: center;
  }
  
  p {
    margin-bottom: 20px;
  }
  
  form {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background-color: #ffffff;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease-in-out;
  }
  
  input[type="text"]:focus, input[type="password"]:focus {
    border-color: #3366ff;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #3366ff;
    color: #ffffff;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  button:hover {
    background-color: #2980b9;
  }
  
  .wrapper {
    display: flex;
    justify-content: center;
  }
  
  .label, .input, .button {
    flex: 1;
  }
  
  .label {
    flex-basis: 0;
  }
  
  